.cronometro {
  padding: 40px;
  margin: 10px;
}
.icono {
  font-size: 20px;
  color: bisque;
}
body {
  background: #22c1c3;
  background: radial-gradient(
    circle,
    rgba(34, 193, 195, 1) 0%,
    rgba(9, 107, 145, 1) 100%
  );
}
